
/*公共部分*/
#header,#nav,#section,#footer,#b_logo{
     width:100%;
	 margin:0 auto;
     
}
#head_main,#logo,#contain{
    width:1200px;
	margin:0 auto;
}
body{
     /*背景颜色，文本颜色，字体大小，字体样式，外边距，内边距*/
     background:#FFFFFF;
	 color:#666;
	 font-size:14px;
	 font-style:normal;
	 margin:0;
    padding:0px;
	font-family: "Microsoft Yahei", "微软雅黑";
}
.lf{
   float:left;
}
.rt{
    float:right;
}
.clear{
    clear:both;
}
ul{
    margin:0;
	padding:0;
	list-style-type:none;
}
dl{
  margin:0;
}
dd{
  margin:0;  
}
input{
    outline:none;
}
img{
    vertical-align:middle;
  transition: all ease .5s;
}
div{
    box-sizing:border-box;
}
div:after{
    content:'' ;
	display:block;
	clear:both;
	 
 }
a{
   text-decoration:none;
   color:#666;
}
a:hover{
  color:#DD4C40;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
}
/*头部内容*/
#header{
    min-height:30px;
	background:#F9F9F9;
	line-height:30px;
	border-bottom:1px solid #EEEEEE;
   
}
#head_main>p>b{
    color:#EB0000;
}
#head_main>ul.memu{
   float:right;
}
#head_main>ul.memu>li{
   float:left;
}
#head_main>ul.memu>li.welcome{
  color:#DD4C40;
}
.go_manage{
    color:#DD4C40;
    margin-left: 10px;
}
/*LOGO部分*/
#b_logo{
   background:#fff;
}
#logo{
   overflow:hidden;
   background:#fff;
    background:url(../images/logo_bg.png) no-repeat center center;
}
#logo>div._logo{
   float:left;
}
#logo>div.txt{ 
       float: left;
    width: 545px;
    height: 178px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 20px;
    color: #979892;
    font-weight: bold;
    text-align: center;
}
#logo>div.txt>P{
   width:250px;
   margin:0 auto;
}
#logo>ul.call_info{
    float: right;
    width: 200px;
    margin: 15px 0;
    height: 145px
}
#logo>ul.call_info>li{
     width: 100%;
    height: 25%;
    line-height: 30px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
#logo>ul.call_info>li.txt{
    font-size: 15px;
    color: #EB0000;
}
#logo>ul.call_info>li>b{
   display:inline-block;
   width:18px;
   height:18px;
   background:url(../images/frame.png) no-repeat -243px -69px;
   vertical-align:middle;
}
/*导航*/
#nav{
   height:40px;
   background:#F9F9F9;
   border:1px solid #EEEEEE; 
   line-height:40px;
   font-size:16px;
}
#nav>div{
   width:1200px;
   margin:0 auto;
}
#nav>div>ul.the_nav{
   width:990px;
   float:left;
}
#nav>div>ul.the_nav>li{
   float:left;
   width:162px;
   text-align:center;
   padding:0 1px 0 1px;
}
#nav>div>ul.the_nav>li>a{
   display:block;
   width:100%;
}
#nav>div>ul.the_nav>li.core1{
   border-left:1px solid #EEEEEE;
	border-right:1px solid #EEEEEE;
	/*background:#fff;*/
	padding:0;

}
#nav>div>ul.the_nav>li.core1>a{
   border-bottom:2px solid #FF43A0;
}
#nav>div>ul.the_nav>li.core2>a{
   border-bottom:2px solid #91CB06;
}
#nav>div>ul.the_nav>li.core3>a{
   border-bottom:2px solid #00BEFF;
}
#nav>div>ul.the_nav>li.core4>a{
   border-bottom:2px solid #DD52FF;
}
#nav>div>ul.the_nav>li.core5>a{
   border-bottom:2px solid #FF971A;
}
#nav>div>ul.the_nav>li.core6>a{
   border-bottom:2px solid #FFEA00;
}


/*弹出菜单*/
#nav>div>ul.the_nav>li{
    position:relative;
}
#nav>div>ul.the_nav>li #sub_box{
     width:162px;
     background:#fff;
	 position:absolute;
	 z-index:30;
	 left:0px;
	 top: 42px;
	 display:none;
}
 #sub_box>li>a{
     display:block;
	 width:100%;
	 height:100%;
 }
#nav>div>ul.the_nav>li #sub_box>li{
     border:1px solid #EEEEEE;
}
#nav>div>ul.the_nav>li:hover,#nav>div>ul.the_nav>li.hover{
    border-left:1px solid #EEEEEE;
	border-right:1px solid #EEEEEE;
	background:#fff;
	padding:0;

}
#nav>div>ul.the_nav>li:hover #sub_box{
    display:block;
}
/*右侧账户部分*/
#nav>div>ul.my_account{
   width:200px;
   float:right;
}
#nav>div>ul.my_account>li{
   float:left;
   margin-left:5px;
   text-align:right;
}
#nav>div>ul.my_account>li:last-child>a>i{
     display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/frame.png) no-repeat -21px -73px;
    vertical-align: middle;
    margin-left: 5px;
}
#nav b.top_choise{
   display:inline-block;
   width:8px;
   height:8px;
   background:url(../images/frame.png) no-repeat -185px -75px;
   vertical-align:middle;
    margin-left: 5px;

}
#nav>div>ul.my_account>li:last-child{
	border-top:1px solid #F9F9F9;
	border-left:1px solid #F9F9F9;
	border-right:1px solid #F9F9F9;
	position:relative;
}
#nav>div>ul.my_account>li:last-child:hover,#nav>div>ul.my_account>li:last-child.hover{
    background:#fff;
	border:1px solid #EEEEEE;
	/*border-left:1px solid #EEEEEE;*/
	/*border-right:1px solid #EEEEEE;*/

}

#sub_msg{
   width:100px;
   background:#fff;
   border:1px solid #EEEEEE;
   border-top:none;
   text-align:center;
   position:absolute;
   left: -1px;
   top: 39px;
   display:none;
  z-index: 100;
}
#nav>div>ul.my_account>li:last-child:hover #sub_msg{
    display:block;
}
/*主体部分*/
  /*轮播大图*/
#main{
    width:100%;
	height:400px;
	border:1px solid #ddd;
	position:relative;
	overflow:hidden;
}
#pics{
	height:400px;
	position:absolute;
	top: 0;  
	left: 0;
}
#main #pics li{
	float:left;
	z-index:0;
}
#main #sign{
   position:absolute;
    bottom:200px;
    right:20px;
}
#main #sign li {
    width: 10px;
    height:10px;
    line-height: 22px;
    margin:10px;
    background: #fff;

    color: #fff;    
   border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-left:10px;

}

#main #sign li:hover,#main #sign li.hover {
    background:#b61b1f;

}
/*.....*/
#main>span{
   display:block;
   width:30px;
   height:30px;
   position:absolute;
   left:74px;
   top:200px;
   background:#FFD766;;
}
#main>ul.shade_new{
     /*overflow: hidden;*/
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    left: 74px;
    bottom: 0;
	
}
#main>ul.shade_new>li{
   float:left;
   width:360px;
   min-height:20px;
   margin:0 10px ;
   background:rgba(0,0,0,0.6);
   color:#DD4C40;
   font-size:18px;
   line-height:30px;
   text-align:center;
   border-radius:5px 5px 0 0;
   cursor:pointer;
   padding:5px;
  /* position:absolute;*/
   
}

#main>ul.shade_new>li>ul.sub_new>li{
   border-top:1px dotted #f5f5f5;
}
#main>ul.shade_new>li>ul.sub_new>li:last-child{
  border-bottom:1px dotted #f5f5f5;
}
#main>ul.shade_new>li>ul.sub_new>li>b{
   display:inline-block;
   width:5px;
   height:5px;
   background:#4B4A4D;
   border:2px solid #DD4C40;
   border-radius:50%;
   margin-right:20px;
}
#main>ul.shade_new>li>ul.sub_new a{
   font-size:16px;
   color:#fff;
}
/*轮播*/
div#slider {
	width: 1360px;
	height:400px;
	position:relative;
	z-index:0;
	overflow:hidden;
	border:1px solid #ddd;
    margin:0 auto;
}
div#slider #imgs {
	position:absolute;
	top: 0;  left: 0;
	height:400px;
}
div#slider #imgs li{
	float:left;
	z-index:0;
}

div#slider #indexs {
    position:absolute;
    bottom:15px;
    right:650px;
}
div#slider #indexs li {
    width: 20px;
    height: 5px;
    line-height: 22px;
    display: inline-block;
    background: #3e3e3e;
    color: #fff;    
   border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-left:10px;

}
div#slider #indexs li:first-child{
    width: 40px;
}
div#slider #indexs li:hover,div#slider #indexs li.hover {
    background:#b61b1f;
}
/**/
#booking{
   width:300px;
   height:300px;
   border:1px solid #ddd;
   background:#fff;
   margin:10px 0;
}

/****最新活动****/
#active{
  border:1px solid #ddd;
  margin-top:10px;
}
/*文字*/
#active>p{
  height:30px;
  line-height:30px;
  border-bottom:1px solid #ddd;
  background:#F9F9F9;
  padding:0 5px;
}
#active>p>i{
   display:inline-block;
   width:25px;
   height:25px;
   background:url(../images/clon.png) no-repeat -135px -21px;
   vertical-align:middle;
   margin-right:5px;
}
/*图片*/
#active>ul{
   overflow:hidden;
}
#active #new_active{
  width:100%;
  height:163px;
  position:relative;
  overflow:hidden;
}
#active #new_active>span.left{
   display:inline-block;
   width:17px;
   height:17px;
   background:url(../images/clon.png) no-repeat -256px -24px;
   vertical-align:middle;
   position:absolute;
   left:5px;
   top:70px;
}
#active #new_active>span.right{
   display:inline-block;
   width:17px;
   height:17px;
   background:url(../images/clon.png) no-repeat -284px -24px;
   vertical-align:middle;
   position:absolute;
   right:5px;
   top:70px;
}

#active #new_active #active_box{
  width:1112px;
  height:163px;
  position:absolute;
  left:40px;
  top:0;
  overflow:hidden;
}
#active #new_active #active_box>ul.content{
  height:163px;
  position:absolute;
  left:0;
  top:0;
}
#active #new_active #active_box>ul.content>li{
  float:left;
  height:163px;
  line-height:163px;
  margin:0 19px;
 
}

/*优点*/
#active>p>i.adv{
   background:url(../images/clon.png) no-repeat -164px -21px;
}
#active>ul.ad>li{
   width:25%;
   float:left;
}
#active>ul.ad>li>a{
   display:block;
   height:68px;
   line-height:68px;
   text-align:center;
}
#active>ul.ad>li>a>b{
   display:inline-block;
   width:45px;
   height:45px;
   background:url(../images/clon.png) no-repeat -19px -345px;
   vertical-align:middle;
   margin:10px;
}
#active>ul.ad>li.core2>a>b{
   background-position:-73px -345px;
}
#active>ul.ad>li.core3>a>b{
   background-position:-127px -345px;
}
#active>ul.ad>li.core4>a>b{
   background-position:-181px -345px;
}
#active>ul.ad>li>a>span{
   font-weight:bold;
   font-size:24px;
}

/*弹出框*/
#sub_food{
   width:364px;
   height:49px;
   background:url(../images/meal/x.png) no-repeat ;
   position:absolute;
   left:0;
   bottom:0;
}
#sub_food>p{
   line-height:49px;
   text-align:center;
   width:286px;
   color:#fff;
   font-size:24px;
   font-weight:bold;
}

/*其他分类*/
#other_list{
   width:1200px;
   min-height:100px;
   overflow:hidden;
}
#other_list div{
   width:380px; 
   float:left;
   margin-right:10px;
}
#other_list div>img{
   margin: 0 34px;
}
/*最新动态*/

#other_list div>p{
     width: 100%;
    height: 40px;
    background: #F9F9F9;
    color: #666;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 5px;
 
}
#other_list div>ul>li{
      height: 32px;
    line-height: 32px;
    border-bottom: 1px dashed #ddd;
    padding: 0 5px;
    border-top: 0;
}
#other_list div>ul>li>span{
   float:right;
}
/*招兵买马*/
/*饮食*/
#facility>ul.eat_type{
  margin:20px 0;
}
#facility>ul.eat_type>li{
  float:left;
  min-width:300px;
  min-height:304px;
  background:#F9F9F9;

}
#facility>ul.eat_type>li.self>img:hover{
  transform: rotateY(180deg);

}
/*翻转页面*/
.container {
  width:300px;
  perspective: 1000px;
}
.container:hover .flipper{
  transform: rotateY(180deg);
}
.container, .front, .back {
  width: 300px;height: 300px;
  text-align:center;
}

.flipper {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front{
  background: rgba(0,0,255,0.2);
  z-index: 2;
}
.back{
  background: rgba(210,210,210,0.5);
  transform: rotateY(180deg);
}
/**/
#facility>ul.eat_type>li>div.inner{
 width: 300px;
 height: 304px;
 padding:54px;
}
#facility>ul.eat_type>li>div.inner>a{
   display: block;
    width: 100px;
    height: 20px;
    border: 1px solid #DD4C40;
    color: #DD4C40;
    margin: 28px auto;
}
#facility>ul.eat_type>li>div.inner>h3{
  margin:10px 0;
}
#facility>ul.eat_type>li #sliders{
  width:300px;
  height:304px;
  overflow:hidden;
  position:relative;
  background:#abcdef;
}
#facility>ul.eat_type>li #sliders #slider{
   height:304px;
}
#facility>ul.eat_type>li #sliders>div{
  width:30px;
  height:30px;
  background:rgba(0,0,0,0.5);
  position:absolute;
  left:0;
  top:150px;
}
#facility>ul.eat_type>li #sliders>div>span{
  display:block;
  width:18px;
  height:18px;
  background:url(../images/icon_sprite.png) no-repeat -120px -260px;
  
}
/*设施服务*/
#facility{
  text-align:center;
  margin-top:10px;
  
}
#facility>ul.fac{
  overflow:hidden;
  padding:7px;
 }
 #facility>ul.fac>li{
   float:left;
   margin-right:13px;
   
   margin-top:15px;
   position:relative;
 }
#facility>ul.fac>li:nth-child(3),#facility>ul.fac>li:nth-child(6){
  margin-right: 0;
}
  #facility>ul.fac>li>div.shade_box{
   width:100%;
   position:absolute;
   bottom:0;
   left:0;
   font-size:20px;
   color:#fff;
   text-align:center;
   background:url(../images/hotel_international_desc_bg.png)  0 -45px;
    transition: all ease .5s;
  }
   #facility>ul.fac>li>div.shade_box.clo{
     /*background:#DD4C40;*/
	 height:150px;
   }
  #facility>ul.fac>li>div.shade_box>p{
	height:40px;
	width:100%;
	line-height:40px;
	
  }
  #facility>ul.fac>li>div.shade_box>div.sub_text{
    display:none;
	padding:20px;
	font-size:14px;
  }
/*服务*/
#services{
   text-align:center;
   margin-top:10px;
   padding-top:10px;
}
p.index_text{
   font-weight:bold;
   font-size:18px;
   margin:10px 0 5px 0;
   text-align:center;
   background:url(../images/hotel/x1.png) no-repeat center center;
}
p.index_text+span{
   margin-bottom:10px;
}
#service{
  overflow:hidden;
  margin:10px 0;
}
#service>li{
  width:298px;
  height:350px;
  float:left;
  background:#F9F9F9;
  border-right:2px solid #ddd;
  padding-top:40px;
  text-align:center;
  padding-bottom:2px;
}
#service>li.hover{
 border-bottom:2px solid #DD4C40;
  border-top:2px solid #DD4C40;
 padding-bottom:0;
 padding-top:38px;
}
#service>li>div{
  width:144px;
  height:144px;
  border-radius:50%;
  padding:4px;
  background:url(../images/hotel/x5.png);
  margin:0 auto;
  

}
#service>li>div.hover,#service>li>div.hover{
  border:2px solid #DD4C40;
  padding:0;
 
}
#service>li.core2>div{
 background:url(../images/hotel/x2.png);
}
#service>li.core3>div{
 background:url(../images/hotel/x3.png);
}
#service>li.core4>div{
 background:url(../images/hotel/x4.png);
}
#service>li>hr{
  width:30px;
  background:#666666;
  height:3px;
  border:none;
}
#service>li>hr.hover{
  background:#DD4C40;
}
#service>li>h2{
  margin-top:40px;
  color: #000;
}
#service>li>p{
    margin: 30px 0;
    font-size: 16px;
}
#service>li:last-child{
  border-right:0;
}
/*底部部分*/
#footer{
  margin-top:20px;
  border-top:1px solid #ddd;
  background:#F9F9F9;
  overflow:hidden;
}
#footer>div{
   width:1200px;
   margin:10px auto;
   padding:20px 0;
}
#footer>div>div.code_info{
      float: left;
    width: 400px;
    height: 120px;
 
}

/*其他信息*/
#footer>div>ul.other_info{
      float: right;
    width: 780px;
}
#footer>div>ul.other_info>li{
  width:20%;
  float:left;
}
#footer>div>ul.other_info>li>ul>li{
  margin:5px;

}
#footer>div>ul.other_info>li>ul>li:first-child{
  font-size:16px;

}

/*优惠精选*/
#spe_off{
  height:527px;
  background:url(../images/hotel/ind_bg.jpg) no-repeat;
  margin:10px 0;
  padding:10px 15px;

}
#spe_off>div.hot_meals{
 float:left;
 width:900px;
 height:100%;


}
p.room_twords{
 color:#fff;
 font-size:26px;
 text-align:center;

}
p.room_twords+hr{
  width: 80px;
    height: 1px;
    background: #fff;
}
#spe_off>div.hot_meals>dl{
 width:400px;
 height:400px;
 float:left;
 margin-right:17px;
 margin-top:10px;

}
#spe_off>div.hot_meals>dl>dd{
 position:relative;
}
#spe_off>div.hot_meals>dl>dd>span.sign{
    display: block;
    width: 30px;
    height: 30px;
    background:rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    right: 0;
    top: 120px;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}
#spe_off>div.hot_meals>dl>dd>div{
 width:100%;
 height:100%;
 position:absolute;
 background:rgba(0,0,0,0.6);
 left: 0;
 bottom: 0;
}
#spe_off>div.hot_meals>dl>dd>div>span{
  display:block;
  width:200px;
  height:200px;
  border-radius:50%;
  background:url(../images/hotel/set_meal_01.jpg) no-repeat ;
  position:absolute;
  left:100px;
  top:50px;
}
#spe_off>div.hot_meals>dl>dd>div>img{
  margin:0 auto;
}
#spe_off>div.hot_meals>dl:last-child{
 margin-right:0;
}
#spe_off>div.hot_meals>dl>dt{
  height:130px;
  color:#fff;
  text-align:left;
  font-size:18px;
  line-height:22px;
  padding:10px 0;
}
#spe_off>div.hot_meals>dl>dt>span>b{
  color:#DD4C40;
  margin-left:10px;
  font-size:20px;
}
#spe_off>div.hot_meals>dl>dt>a{
  display:block;;
  width:100px;
  height:30px;
  background:#DD4C40;
  font-size:18px;
  text-align:center;
  line-height:30px;;
  margin:10px auto;
  color:#fff;
}
/*更多房型*/
#spe_off>div.hot_meals>ul{
    width: 100%;
    text-align: left;
    
    overflow: hidden;
    padding: 10px 0;
}
#spe_off>div.hot_meals>ul>li{
 float:left;
 margin-right:15px;
}
#spe_off>div.hot_meals>ul>li>a{
    color: #fff;
    font-size: 14px;
}
#spe_off>div.hot_meals>ul>li.core1>a{
   font-size:18px;
   font-weight:bold;
}
/*优惠精选*/
#spe_off>div.deals{
  float:left;
}
#spe_off>div.deals>dl{
  margin-top: 17px;;
}
#spe_off>div.deals>dl>dt{
  padding:10px 5px;
  color:#fff;
  background:rgba(0,0,0,0.6);
}
/*周边旅游*/
#local_attr{
  text-align:center;
   margin-top:30px;
 }
#local_attr #indexs{
  margin:10px 0;
  overflow:hidden;
}
#local_attr #indexs>li{
  width:20%;
  float:left;
}
#local_attr #indexs>li>hr{
  width:80%;
  height:5px;
  border:none;
  background:#DD4C40;
}
#local_attr #attrs{
 margin:10px 0;
 width:100%;
 overflow:hidden;
}
#local_attr #attrs>li{
  float:left;
  width:20%;
  padding:20px 0;
  position:relative;
}

/*电梯点亮*/
#elevator{
    position:fixed;
	top:225px;
	left:0;
}
#elevator>li{
    margin:10px 0;
	
}
#elevator>li>a{
    display:block;
    height:30px;
	line-height:30px;
	font-size:16px;
	background:#9FA1A0;
	color:#fff;
	padding:2px;
	
}
#elevator>li>a.hover{
    background:#DD4C40;
	color:#fff;
}



/*小广告*/
/*小广告*/
#msg{
        width:230px;
		position:fixed;
		right:0;
		bottom:-240px;
		background-color:#EDEDED;
		border:1px solid #DD4C40;
		border-radius:5px;
	}
    #msg>p{
	    background:#DD4C40;
		line-height:32px;
		color:#fff;
		padding: 0 5px;
	}
	#msg>div#txt{
	  padding:5px;
	  color:#ABABAB;
	}
    #msg>div#txt>div{
	border: 1px solid #A4A4A4;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
	background:#fff;

	}
	#msg>div#txt>input{
	  width:100%;
	  height:32px;
	  margin-bottom:10px;
	  color:#ABABAB;
	  box-sizing:border-box;

	}
	#msg>div#txt>a#bt_send{
	  display:block;
	  width:80px;
	  height:32px;
	  text-align:center;
	  line-height:32px;
	  font-weight:bold;
	  color:#fff;
	  border:3px;
	  background:#DD4C40;
	  text-decoration:none;
	}
	#msg>p>a{
	   float:right;
		text-decoration:none;
		font-size:28px;
		cursor:pointer;
		line-height:32px;
		color:#fff;
	}
	/*回到顶部*/
	#top{
	   width:40px;
	   height:40px;
	   background:rgba(0,0,0,0.5);
	   position:fixed;
	   bottom:0;
	   left:20px;
	   font-size:20px;
	   line-height:40px;
	   text-align:center;
	}
	#top>a{
	   color:#fff; 
	}

#pages{
  text-align:center;
}
#pages>a{
  display:inline-block;
  border:1px solid #D1D1D1;
  padding:5px 10px;
}
#pages>a.active,#pages>a:hover{
  background:#DD4C40;
  color:#fff;
}

/*面包屑导航*/
ul.breadcrumb{
  overflow:hidden;
  background:#F9F9F9;
  margin:10px 0;
  padding:10px 0;
}
ul.breadcrumb>li{
  float:left;
  margin-right:5px;
}

.malog{
  position:fixed;
  left:0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  z-index: 100;
  text-align: center;
  display: none;
  /*overflow: hidden;*/
}
.malog>.message{
  position: absolute;
  padding: 30px;
  top:250px;
  left:400px;
  width:400px;
  height:100px;
  background: #fff;
}
.malog>.message a{
  color: #DD4C40;
  padding:10px 5px;
}
/*我的订单*/
.mybooking{
  background: #DD4C40;
  color: #fff;
  position: fixed;
  right: 0;
  top:400px;
  text-align: center;
}
/*新闻公告*/
#slider_new{
  width: 1200px;
  margin: 0 auto;
  border:1px solid #dddddd;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}
#slider_new>div{
  float: left;
}
#slider_new>div.new_header{
  padding: 10px;
  line-height: 20px;
  background: #DD4C40;
  color: #fff;
}
#slider_new>div.title{
  padding:0  10px ;
}
.btn_booking {
  height: 33px;
  width: 100px;
  padding: 0 5px;
  background: #DD4C40;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  line-height: 33px;
  cursor: pointer;
  margin: 10px 0 0 0;
  text-align: center;
}
.btn_booking:hover{
  background: #CE554B;
}